// Fonts
$font-family: "Montserrat", sans-serif;

// Backgrounds
$container-bg: linear-gradient(
  to top,
  #354f52,
  #566e6c,
  #7a8f87,
  #a1b0a5,
  #cad2c5
);
$main-bg: linear-gradient(
  to right bottom,
  #354f52,
  #566e6c,
  #7a8f87,
  #a1b0a5,
  #cad2c5
);

// Colors
$white: #fff;
$black: #2f3e46;
$gray: #626262;
$error: #d84668;
